.about-page {

    p {
        margin: 2.5rem 0;
    }

    .intro-summary {
        margin-bottom: 3rem;;
    }

    .grid {

        @include respond-to('large') {
            grid-column-gap: 30px;
        }

        @include respond-to('max') {
            grid-column-gap: 50px;
        }

        .grid-item {
            margin: 0 auto;
            max-width: 300px;

            @include respond-to('large') {
                max-width: 600px;
            }
        }

        img {
            display: block;
            margin: 0 auto;
        }
        
        p {
            margin: 1rem auto 2rem;

            @include respond-to('medium') {
                font-size: 1rem;
            }

            @include respond-to('large') {
                font-size: 1.1rem;
                margin-bottom: 0;
            }

            @include respond-to('max') {
                font-size: 1.2rem;
                margin-bottom: 0;
            }
        }

    }

}
