// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


footer {
    width: 100%;
    font-size: 1.3rem;
    @include respond-to('small') {
        font-size: 1.5rem;
    }
}