// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    margin-bottom: 6rem;
    // height: 15vh;
}

.logo img {
    margin: 18px 0 0 26px;
    width: 24px;

    @include respond-to('medium') {
        margin: 2rem 0 0 4rem;
        position: fixed;
    }
}