// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------

.wrapper {
    margin: 0 auto;
    // max-width: 1000px;

}

main {
    margin: 0 1.625rem;
    
    @media (min-width:600px) {
        margin-left: 250px;
    }

}

.intro {
    height: 60vh;

    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.4rem;
    }


}