// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
}

main {
    margin: 0 1.625rem;
    
    @include respond-to('medium') {
        margin-left: 250px;
        margin-right: 40px;
    }

}

.intro {

    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.4rem;
    }

    margin-bottom: 6rem;


}