// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------

.wrapper {
    margin: 0 auto;
    max-width: 500px;
    background-color:rgba(11, 11, 11, 1);
    color: white;
}

main {
    margin: 0 2.625rem;
    // max-width: 500px;
}

.intro {
    height: 75vh;
    // Height of Intro after Subtracting
    // from height of header and margin top
}