// -----------------------------------------------------------------------------
// This file contains all styles related to the nav of the site/application.
// -----------------------------------------------------------------------------

// Top-bar Styles

.top-bar{
    position: relative;

    @media (min-width: 600px) {

        justify-content: space-between;
        display: flex;
    }
}

.nav-toggle {

    @media (min-width: 600px) {
        display: none;
    }

}

nav {

    li {
        list-style-type: none;

        a{
            list-style-type: none;
            color: white;
            text-decoration: none;
            line-height: 5rem;
    
            @media (min-width: 600px) {
                color: black;
                line-height: 5rem;
                font-size: 1.8rem;
            }
        
            &:hover {
                color: $brand-color;
                text-decoration: none;
            }
        }
    

    }

    .active-page a{
        font-weight: bold;
        color: $brand-color;
    }
}







