// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------


.sidebar {
    display: none;
    width: 30vh;
    position: fixed;
    bottom: 15%;

    @include respond-to('medium') {
            display: block;
    }
}