// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------


.sidebar {
    display: none;
    width: 250px;
    position: fixed;
    bottom: 15%;
    justify-content: center;

    @include respond-to('medium') {
            display: block;
    }

    @include respond-to('large') {
        width: 300px;
        margin-left: 50px;
    }
}