// -----------------------------------------------------------------------------
// This file contains all styles related to the icons component.
// -----------------------------------------------------------------------------

.desktop-social-links {
  display: none;

  @media (min-width: 600px) {
    display: block;
  }
}

.mobile-social-links {
  width: 100%;
  display: block;
  text-align: center;

  @media (min-width: 600px) {
    display: none;
  }
}

// Icon Styles
.fa {
    color: rgb(255, 255, 255);
    background-color: $brand-color;
    padding: 0.5rem;
    font-size: 30px;
    width: 2.3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 2rem 0.5rem;
    transition: all 0.3s ease-in-out;

    @include on-event {
      background-color: $brand-color-hover;
    }
  }