// -----------------------------------------------------------------------------
// This file contains all styles related to the icons component.
// -----------------------------------------------------------------------------

.desktop-social-links {
  display: none;

  @include respond-to('medium') {
    display: block;
    margin-right: 40px;
  }

  @include respond-to('large') {
    margin-right: 4rem;
  }
}

.mobile-social-links {
  width: 100%;
  display: block;
  text-align: center;
  margin: 1rem 0;

  @include respond-to('medium') {
    display: none;
  }
}

// Icon Styles
.fa {
    color: rgb(255, 255, 255);
    background-color: $brand-color;
    padding: 0.5rem;
    font-size: 30px;
    width: 2.3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 2rem 0.5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $brand-color-hover;
    }
  }