.kitchenlife-wrapper {
    
    .banner {
        background-image: url('../images/kitchenlife/kitchenlife-page-banner.png');
    }
}

.kitchenlife-page {
    

    .persona {

        .persona-info {
            
            @include respond-to('medium') {
                display: flex;
    
                img {
                    width: 50%;
                    margin-top: 0;
                }
    
                p {
                    width: 50%;
                }

            }

        }
        
        img {
            width: 50%;
            margin: 0 auto 1rem;
            display: block;
            margin-top: 2rem;
            max-width: 220px;
        }
    }

    .display{

        margin-bottom: 3rem;

        @include respond-to('medium') {
            margin-bottom: 4rem;
        }
        
        img {

            margin: 2rem auto 0;
            // Box Shadow code from: https://getcssscan.com/css-box-shadow-examples
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        }
    }

    .information-architecture {
        img {
            box-shadow: none;
        }
    }
    
}